header {
  display: flex;
  justify-content: center;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
  color: aliceblue;    
}

h2 {
  color: black;
}

a {
  color: #d45309;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
}

a:hover {
  color: rgb(236, 146, 11);
  font-family: fantasy;
  font-style: oblique;
}

hr {
  width: 100%;
  color: #d45309;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: white;
  line-height: 0; 
}

#enviar-mail {
  display: flex;
  flex-direction: column;
  align-items: center;   
}

#enviar-mail table{
  display: flex;
  justify-content: center;
  padding: 0.5em;  
  margin-left: 0.5em;  
  background-color: #141E30; 
  color: white;
  font-weight: bold;
}

#enviar {
  border-top: 1px solid #36fa00;
  background: #65d687;
  background: -webkit-gradient(linear, left top, left bottom, from(#5f9c3e), to(#65d687));
  background: -webkit-linear-gradient(top, #5f9c3e, #65d687);
  background: -moz-linear-gradient(top, #5f9c3e, #65d687);
  background: -ms-linear-gradient(top, #5f9c3e, #65d687);
  background: -o-linear-gradient(top, #5f9c3e, #65d687);
  padding: 11.5px 23px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 15px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
  }
#enviar:hover {
  border-top-color: #164000;
  background: #164000;
  color: #ccc;
  }
#enviar:active {
  border-top-color: #1b435e;
  background: #1b435e;
  }

#resetBtn {
    border-top: 1px solid #1f819c;
    background: #0cedde;
    background: -webkit-gradient(linear, left top, left bottom, from(#112b02), to(#0cedde));
    background: -webkit-linear-gradient(top, #112b02, #0cedde);
    background: -moz-linear-gradient(top, #112b02, #0cedde);
    background: -ms-linear-gradient(top, #112b02, #0cedde);
    background: -o-linear-gradient(top, #112b02, #0cedde);
    padding: 11.5px 23px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    }
#resetBtn:hover {
    border-top-color: #2297c9;
    background: #2297c9;
    color: #ccc;
    }
#resetBtn:active {
    border-top-color: #1b435e;
    background: #1b435e;
    }

.buttons {
  display: flex;
  justify-content: space-between;  
}

.buttons button {
  width: 8em;  
  margin: 0.5em;
}

.cursor-not-allowed {
  cursor: not-allowed;
  background-color: tomato;
  opacity: 50%;
}

.msjError {
  border-bottom: 1.5px red solid;
  background-color: red;
  opacity: 50%;
  font-size: 1.5em;
  color: white;  
}

.campoValido {
  border-bottom: solid 2px green;  
}

.campoInvalido {
  border-bottom: solid 2px red;   
}

#mensaje {
  width: 40vw;
  height: 20vw;
}

#spinner {
  display: none;  
  margin: 1em auto 0;  
  text-align: center;
}

#spinner > div {
  width: 1.2em;
  height: 1.2em;
  background-color: rgb(1, 113, 241);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

#spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.envioCorrecto {
  color:green;
  font-weight: bold;
  text-transform: uppercase; 
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  h1,h2,a {
    font-size: 1em;
    text-align: center;
  } 

  table {       
    border: white 2px solid;
    width: 100%;
    height: auto;
  } 

  #mensaje {
    background-color: rgb(9, 67, 75);    
    color: white;
    font-weight: bold;
    width: 100%;
  }

  .buttons {
    width: 17em;
    height: 5em;
  }
}
